@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Pacifico&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: white;
    background-color: #c19e61;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 95px;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #990000;
    
}

nav {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 35px;
}

.menu a:hover {
    border-bottom: 1px solid white;
}

.clear {
    clear: both;
}

.menu {
    width: 40%;
    float: left;
}

.menu a {
    padding: 0 10px 10px 10px;
    color: white;
    text-decoration: none;
    letter-spacing: .25em;
}

.logo {
    width: 20%;
    float: left;
    text-align: center;
}

.logo img {
    position: relative;
    top: -20px;
}

.botonMenu1 {
    float: right;
    margin: 0 30px 0 0;
}

.botonMenu2 {
    margin: 0 0 0 30px;
    float: left;
}

section {
    position: relative;
    top: 165px;
    left: 0;
    margin: 0;
    padding: 0 0 10px 0;
    height: 780px;
    width: 100%;
    
}

section div h1 {
    color: #990000;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
}


section>div{
    margin-left: 20%;
    margin-right: 20%;
    height: 70%;
    padding: 10px;
}


.col1 {
    float: left;
    padding: 5%;
    width: 40%;
    height: 80%;
}

.col1 iframe {
    position: relative;
    top: 40px;
}

section * p {
    text-align: justify;
}

.col2 {
    float: left;
    padding: 5%;
    width: 40%;
    height: 80%;
}

section div div img {
    margin: 30px auto;
    display: block;
    width: 100%;
}

.idiomas {
    float: right;
}

footer {
    font-weight: bolder;
    padding: 0 5% 1% 5%;
    background-color: #990000;
    margin-top: 150px;
    bottom: 0;
    display: block;
    float: left;
    width: 90%;
    height: 70px;
    margin-bottom: 0;
    align-items: center;
}

.foot {
    display: block;
    float: left;
    width: 90%;
    height: 70px;
    align-items: center;
    margin-bottom: 0;
    bottom: 0;
    margin-top: 78px;
}

footer>div {
    color: white;
    position: relative;
    height: 55px;
    margin-top: 5px;
    margin-left: 5%;
    width: 40%;
    float: left;
    padding: 5px;
}

footer div div {
    margin: 5px;
    width: 40%;
    position: relative;
    float: left;
}

.imgFooter {
    float: right;
    padding: 0;
    margin: 0;
    text-align: right;
}

.foot2 {
    margin-top: 9px;
}



/* ARTICULOS */

.articulos div {
/*     background-color: coral; */
    height: 190px;
    margin-bottom: 3px;
}

.articulos div div {
  
    display: inline-block;
   height: 100%;
   width: 24%;
/*     background-color: cornflowerblue; */
}

.articulos div div img {
    width: 60%;
    height: auto;
    max-width: 55%;
    max-height: auto;
}

.fotoFlecha {
    margin: 50px auto; 
    margin-bottom: 50px; 
    display: block;
}

